@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: pink;
}

header h1 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 24px;
}

aside {
  background-color: lightgreen;
  flex: 1;
}

main {
  background-color: yellow;
  flex: 3;
  overflow-y: auto;
}

footer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
}

footer p {
  margin: 4px;
}
